*{
    font-family: 'Merriweather', serif;
}

header{
    background-color: #15191C;
    text-align: center;
    color: #55d9c0;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    box-shadow: 4px 4px 30px #4dd8ad;
    margin-bottom: 2rem;
}

body{
    background-color: #1D232A;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-option, .box-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 1.5rem auto;
}

.box-option .option-2{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.box-option .option-3{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.box-option .option-3 .OP1{
    margin-top: 1rem;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    background-color: #02231c;
    color: #e8f1f2;
    opacity: 0.8;
    transition: 500ms;
}

.box-option .option-4{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.box-option .option-2 .OP, .box-option .option-4 .OP {
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    background-color: #02231c;
    color: #e8f1f2;
    opacity: 0.8;
    transition: 500ms;
}

.box-option .option-2 .OP-click, .box-option .option-3 .OP-click, .box-option .option-4 .OP-click {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: underline;
    box-shadow: 4px 4px 10px #107050, -4px -4px 10px #107050;
}

.box-option .write, .box-results .results{
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    color: black;
}

.box-option h2, .box-results h4{
    color: #55d9c0;
    font-size: 1.5rem;
    font-weight: 600;
}

.final-button{
    width: 50%;
    margin: 3rem auto;
    padding: 1.5rem;
    font-size: 2rempx;
    background-color: #107050;
    color: white;
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
    opacity: 0.8;
    transition: 500ms;
}

.final-button-click{
    background-color: #55d9c0;
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 10px 10px 30px #4dd8ad, -10px -10px 30px #4dd8ad;
    cursor: pointer;
}

.Informações{
    width: 80%;
    margin: 3rem;
 }

 .box-information{
    margin: 1rem 0;
}

.box-information h2{
    color: #107050;
}

.box-information h3{
    color: #55d9c0;
    margin-top: 0.7rem;
}

.box-information p{
    margin-top: 1rem;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #15191C;
    color: #ffffff;
    padding-top: 1rem;
    font-size: 0.8rem;
}

.contato{
    width: 40%;
}

.referencias{
    width: 40%;
}
 
.contato .linkedin{
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: #0e76a8;
    border-color: #0e76a8;
    color: white;
    box-shadow: 5px 5px 70px #0e76a8;
    transition: 200ms;
    margin: 0.4rem 0;
}

@media screen and (min-width: 1440px) {
    header{
        background-color: #15191C;
        text-align: center;
        color: #55d9c0;
        font-size: 2rem;
        font-weight: 700;
        padding: 2rem;
        box-shadow: 4px 4px 30px #4dd8ad;
        margin-bottom: 2rem;
    }
    
    
    body{
        background-color: #1D232A;
    }
    
    main{
        width: 940px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px auto;
        background-color: #15191C;
        border-radius: 1rem;
        box-shadow: 10px 10px 70px #4dd8ad, -10px -10px 70px #4dd8ad;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box-option, .box-results{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1.5rem auto;
    }
    
    .box-option .option-2{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .box-option .option-3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .box-option .option-2 .OP, .box-option .option-4 .OP {
        padding: 1rem 4rem;
        border-radius: 8px;
        border-style: solid;
        border-color: black;
        background-color: #107050;
        color: #e8f1f2;
        opacity: 0.8;
        transition: 500ms;
    }
    
    .box-option .option-2 .OP:hover, .box-option .option-4 .OP:hover, .box-option .option-3 .OP1:hover{
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
        text-decoration: underline;
        box-shadow: 10px 10px 30px #4dd8ad, -10px -10px 30px #4dd8ad;
    }
    
    .box-option .option-2 .OP-click, .box-option .option-3 .OP-click, .box-option .option-4 .OP-click{
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
        text-decoration: underline;
        box-shadow: 10px 10px 30px #4dd8ad, -10px -10px 30px #4dd8ad;
    }
    
    .box-option .option-3 .OP1{
        padding: 1rem 1.5rem;
        border-radius: 8px;
        border-style: solid;
        border-color: black;
        background-color: #107050;
        color: #e8f1f2;
        opacity: 0.8;
        transition: 500ms;
    }
    
    .box-option .write, .box-results .results{
        padding: 1rem 4rem;
        border-radius: 8px;
        border-style: solid;
        border-color: black;
    }
    
    .box-option h2, .box-results h4{
        margin: 0.7rem auto;
        font-size: 2rem;
        color: #ffffff;
        margin: 1.5rem auto;
    }
    
    .final-button{
        width: 50%;
        margin: 7rem auto;
        padding: 1.5rem;
        font-size: 30px;
        background-color: #02231c;
        color: white;
        border-radius: 1rem;
        border-style: solid;
        border-color: black;
        opacity: 0.8;
        transition: 500ms;
    }
    
    .final-button:hover{
        opacity: 1;
        transform: scale(1.1);
        box-shadow: 10px 10px 30px #107050, -10px -10px 30px #107050;
        cursor: pointer;
    }
    
    .final-button-click{
        background-color: #107050;
        opacity: 1;
        transform: scale(1.1);
        box-shadow: 10px 10px 30px #4dd8ad, -10px -10px 30px #4dd8ad ;
        cursor: pointer;
    }
    
    .Informações{
       width: 80%;
       margin: 3rem;
    }
    
    .box-information{
        margin: 1rem 0;
    }
    
    .box-information h2{
        color: #107050;
    }
    
    
    
    footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #15191C;
        padding: 2rem 10rem;
    }
    
    .contato .linkedin{
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #0e76a8;
        border-color: #0e76a8;
        color: white;
        box-shadow: 5px 5px 70px #0e76a8;
        transition: 200ms;
        margin: 1rem 0;
    }
    
    .contato .linkedin:hover{
        transform: scale(1.06);
        cursor: pointer;
    }
}




